ion-menu-button {
  color: var(--ion-color-light);
}


ion-content{
  --background: rgb(1, 34, 0) url("/assets/bitmap.png") no-repeat center center / cover !important;

}
ion-content{ 
    --background: none;
    border: 3px solid rgb(1, 34, 0);
    background-image: url("/assets/bitmap.png");
    background-repeat: no-repeat;
    background-size: cover;
}
  
ion-card{
  background: linear-gradient(to right, #D4D3DD, #EFEFBB); 
    border-radius: 15px;
    border: 3px solid black;
}
ion-list{
  
  background: linear-gradient(to right, #D4D3DD, #EFEFBB); 
}

ion-item{
  --background: linear-gradient(to right, #D4D3DD, #EFEFBB); 
}
.cardObs{
  width: 100%;
  border: 3px solid darkgreen;
 
}