ion-menu-button {
  color: var(--ion-color-primary);
}


ion-content {
  --background: none;
  background-image: url("/assets/bitmap.png");
  background-repeat: no-repeat;
  background-size: cover;

}
ion-content{
  --background: rgb(6, 134, 2) url("/assets/bitmap.png") no-repeat center center / cover;
}


ion-img{
  padding-top: -10px;
}

.cardObs{
  width: 100%;
 
}