.center {
    display: block;
    margin: auto;
    margin-top: -05px;
    
    width: 50%;
    ion-img{
     
      display: flow-root;
      width: 80%;
      object-fit: inherit;
    }
       
   }
//
ion-item{
  --background: transparent;
}  
ion-content {
    --background: none;
    border: 10px solid rgb(1, 34, 0);
    background-image: url("/assets/imagemBola.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
  } 
ion-card{   
    margin-bottom: 10px;
    bottom: 10;
    border: 5px solid black;
    --background: linear-gradient(to right,rgb(1, 34, 0),rgb(0, 153, 51),rgb(0, 153, 51),rgb(1, 34, 0));
    width: 70%;
    height: 75%;
}   
