<ion-header>

</ion-header>

<ion-content scrollbar-y="false">
  
  


  <ion-grid>
   <ion-row  >  
       <div  class="center">
      <ion-img style="padding-right:50px;"   src="./assets/logo.png"> </ion-img>
              </div>
               </ion-row>
               
    <ion-row>
      <ion-col size-md="6" offset-md="3">

          <ion-card >

            <ion-card-content style="margin-bottom: 50px;">
          
          <ion-item>
            <ion-label style="text-align: center;" color="light" position="floating">EMAIL</ion-label>
            <ion-input [(ngModel)]="user" type="string"></ion-input>
          </ion-item>
           <ion-item>
              <ion-label style="text-align: center;" color = "light" position="floating">PASSWORD </ion-label>
              <ion-input type="password" ></ion-input>
            </ion-item>
        
              <ion-button expand="block" color = "secondary" (click) =LogIn()  >LOG IN  </ion-button>
            <div style="display: flex; justify-content: center;">
            <ion-button size="small"  fill ="clear" (click)=register()> Quer ser um colaborador? Registre-se.  </ion-button>
          </div>
          
        </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
