<ion-header>

</ion-header>

<ion-content>
  
  


  <ion-grid>
   <ion-row  >  
       <div  style="padding-left: 80px;" class="center">
      <ion-img  style="padding-left: 80px;" src="./assets/logo.png"> </ion-img>
              </div>
               </ion-row>
               
    <ion-row>
      <ion-col size-md="6" offset-md="3">

          <ion-card >

            <ion-card-content>

          <ion-item>
            <ion-label color="medium" position="floating">EMAIL</ion-label>
            <ion-input [(ngModel)]="user" type="string"></ion-input>
          </ion-item>
           <ion-item>
              <ion-label color = "medium" position="floating">PASSWORD </ion-label>
              <ion-input type="string" ></ion-input>
            </ion-item>
              <ion-button expand="block" color = "success" (click) =LogIn()  >LOG IN  </ion-button>
            <div style="display: flex; justify-content: center;">
            <ion-button size="small" color = "medium" fill ="clear" (click)=register()> Quer ser um colaborador? Registre-se.  </ion-button>
          </div>
        </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
