.txtErros {
    font-size: 12px;
  }
.alertCustomCss .alert-message {
    font-size: 12px;
    
}  
ion-content{
  --background: linear-gradient(to right,lightgreen,rgb(0, 153, 51),rgb(0, 153, 51),lightgreen);
}