<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Chamadas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--  <ion-button color="secondary" (click)="setChamada()">Fazer chamada

  </ion-button> -->
  <ng-container *ngIf="chamadaAtiva">

    <ion-card>
      <ion-toolbar color="secondary">
        <div style="text-align: center;">
          <ion-card-title color="light">
            Chamadas
          </ion-card-title>
        </div>
      </ion-toolbar>


      <form [formGroup]="chamada">
        <!--  #C (ionChange)="setColaboradorResponsavel(C.value)" -->
        <ion-list style="background: rgb(1, 39, 0);">
          <ion-row>

            <ion-col>
              <ion-item>

                <ion-label style="font-size: 20px;" position="stacked"> <strong>Categoria do Aluno </strong>
                  <ion-text color="danger">*</ion-text>
                </ion-label>  
                <ion-select style="font-size: 12px;" #c (ionChange)="categoriaChange(c.value)" formControlName="Selecione Categoria" formControlName="categoria" name="Categoria"
                  placeholder="Categoria"> Categoria
                  <ion-select-option name="sub9" value="sub9"> sub 9 </ion-select-option>
                  <ion-select-option name="sub11" value="sub11"> sub 11 </ion-select-option>
                  <ion-select-option name="sub13" value="sub13"> sub 13 </ion-select-option>
                  <ion-select-option name="sub16" value="sub16"> sub 16 </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label style="font-size: 20px;"  position="stacked"> <strong>Professor Responsavel </strong>
                  <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-select  style="font-size: 12px;" placeholder="Selecione Professor" formControlName="professor"
                  *ngIf="colaboradorResponsavel">
                  <ion-select-option name="Professor" *ngFor="let professores of colaboradorResponsavel"
                    value={{professores.nome}}>{{professores.nome}}

                  </ion-select-option>

                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label style="font-size: 20px;"  position="stacked"> <strong> Dia da Chamada </strong>
                </ion-label>
                <ion-label style="font-size: 20px;margin-bottom: 12px;" position="stacked">  
                  {{data}}
                </ion-label>
                
              </ion-item>
            </ion-col>

            <ion-card class="cardObs">
              <ion-textarea formControlName="obs" placeholder="Observação">
              </ion-textarea>
            </ion-card>
          </ion-row>
        </ion-list>



      </form>

    </ion-card>

  </ng-container>
  <ng-container *ngIf="chamadaAtiva">
    <ion-card>
      <ion-toolbar color="secondary">
        <ion-searchbar slot="end" color="secondary" [(ngModel)]="searchTerm" (ionChange)="setBuscarAlunos()">
        </ion-searchbar>
      </ion-toolbar>

      <ion-list style="background: rgb(1, 39, 0);">
        <ion-grid >
          

        
       
        

          <ion-row >
            <ion-col col-2 size="6" *ngFor="let aluno of alunos;let i = index" >
              <ion-item  >
                <ion-icon color="secondary" slot="start" name="person-circle-outline"></ion-icon>
                <ion-label  (click)="showModal(aluno)" >{{aluno.nome}}
                </ion-label>
                <ion-text slot="end" color="secondary">Presente:</ion-text>
                <ion-checkbox  #c [checked]="uncheckAll" (ionChange)="setPresente(c.checked, i);$event.stopPropagation();" color="success"
                  slot="end">  </ion-checkbox>
                <ion-button slot="end" size="small" color="danger"
                  (click)="ConfirmarDelete(aluno);$event.stopPropagation();">
                  <ion-icon name="trash-outline"></ion-icon>
                </ion-button>
              </ion-item>
            </ion-col>
          </ion-row>
       
        </ion-grid>
      </ion-list>
      <ion-button color="secondary" [disabled]="chamada.invalid"  (click)="submitChamada(alunos)" expand="block"> FAZER CHAMADA</ion-button>
    </ion-card>


  </ng-container>

</ion-content>