<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Relatórios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
<ion-grid>
 


<ion-card class="bgcolor">
<ion-card-header>
  <ion-toolbar color="secondary">
    <ion-title color="light">
     <strong> Relatórios</strong> 
      
    </ion-title>
  
  </ion-toolbar>
</ion-card-header>
<ion-row>
  <ion-col>
    <ion-item >
    <ion-label position="stacked"><strong> Selecione o dia desejado</strong>
      <ion-text style="margin-left: 3px;" color="danger">*</ion-text>
    </ion-label>
    <ion-select #c  (ionChange)="listarChamada(c.value)"  placeholder="Chamadas por data">
      <ion-select-option  *ngFor="let chamada of listChamadas" value={{chamada}} >
        {{chamada.data}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  </ion-col>
  <ion-col>
    <ion-row>
      <ion-col ><ion-button expand="block" color="secondary" (click)="openChamadaList()"  > Listar Chamadas </ion-button></ion-col>
    </ion-row>
  </ion-col>
</ion-row>


</ion-card>



</ion-grid>

</ion-content>