<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Relatórios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
<ion-grid>
 


<ion-card class="bgcolor">
<ion-card-header>
  <ion-toolbar color="secondary">
    <ion-title color="light">
     <strong> Relatórios</strong> 
      
    </ion-title>
  
  </ion-toolbar>
</ion-card-header>
<ion-row>
  <ion-col>
    <ion-item >
    <ion-label position="stacked"><strong> Selecione o tipo de ordenação da Chamadas</strong>
      <ion-text style="margin-left: 3px;" color="danger">*</ion-text>
    </ion-label>
    <ion-select #c   placeholder="Tipo de ordenação da Chamadas">
      <ion-select-option name="data" value="data">Por Data
     </ion-select-option>
     <ion-select-option name="aluno" value="aluno">Por Aluno
    </ion-select-option>
    <ion-select-option name="colaborador" value="colaborador">Por Colaborador
    </ion-select-option>
    </ion-select>
  </ion-item>
  </ion-col>
  <ion-col>
    <ion-row>
      <ion-col ><ion-button expand="block" color="secondary" (click)="openChamadaList(c.value)"  > Listar Chamadas </ion-button></ion-col>
    </ion-row>
  </ion-col>
</ion-row>


</ion-card>



</ion-grid>

</ion-content>