ion-content{
    --background: none;

    
    background-image: url("/assets/imagemBola.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    border: 2px solid black;
}
ion-card{   
    
    border: 5px solid black;
    --background: linear-gradient(to right,rgb(1, 34, 0),rgb(0, 153, 51),rgb(0, 153, 51),rgb(1, 34, 0));
    
}   

.header{
    color: white;
    margin: auto;
    width: 50%;
    padding: 10px;
    padding-top: 200px;
}
